altgraph==0.17.4
numpy==1.26.2
packaging==23.2
pandas==2.1.4
plotly==5.18.0
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.11
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
tenacity==8.2.3
tzdata==2023.3
